@import url('https://fonts.googleapis.com/css2?family=Blaka&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Blaka', cursive;
    font-size: 4em;
}

